
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';

}
.header,
.footer{
    background-color: #1f2937;
    color:white;
    display: flex;
    justify-content: center;
    padding: 12px;
}
.header{
    justify-content: space-around;
    padding: 12px;
    align-items: center;
    max-height: 48px;
    font-size: 24px;
    
}
.header .left{
    display: flex;
    align-items: center;
    gap: 24px;
}
.home-text{
    font-size: 36px;
    font-weight: bold;
}
.home-img{
    max-height: 100%;
}
ol{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:40px;
}
a{
    text-decoration: none;
    color:white
}
.content{
    display: flex;
    flex-direction: column;
}
.content .intro{
    background-color: #1f2937;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 48px;
    padding-top: 32px;
}
.content .galery{
    background-color: white;
}
.imgBorder {
    border-radius: 8px;
}
.intro-speech{
    color:white;
    max-width: 360px;
    font-size: 18px;
}
.learn-more-btn{
    margin-top: 14px;
    font-size: 16px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.galery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
    flex-direction: column;
}
.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 180px;
    width: 180px;
    border-radius: 8px;
    border: 4px solid #1f2937;
  }
.galery-images{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:80px;
    flex-wrap: wrap;
}
.galery-description-text{
    max-width: 180px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}
.img-with-text{
    display: flex;
    flex-direction: column;
}
.galery h2{
    margin-bottom: 50px;
}
.quote{
    color: #1f2937;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-size: 24px;
}
.quote-content{
    display: flex;
    max-width: 600px;
    text-align: center;
    flex-direction: column;
    align-items:flex-end;
}
.call-to-action-container{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.call-to-action-roundbox{
    background-color: #3882F6;
    border-radius: 8px;
    color:white;
    padding:30px;
    display: flex;
    gap:50px;
}
.call-to-action-roundbox p{
    margin:0;
    padding: 0;
}
.call-bold-text{
    font-size: 14px;
}
.call-small-text{
    color: #f1f1f1ea;
}
.join-btn{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}